.orange {
    background-color: #E65C00;
}

.rouge-o {
    background-color: #FE0000;
}

.jaune {
    background-color: #FEE500;
}

.gris-o {
    background-color: #7F7D7F;
}

.vert {
    background-color: #77FE00;
}

.framboise-o {
    background-color: #EF1515;
}

.violet{
    background-color: #A900D4;
}

.cyan {
    background-color: #00FEB2;
}

.white {
    background-color: #f5f5f5;
}

.marron {
    background-color: #863E00;
}

.bleu-o {
    background-color: #3ea8f6;
}